# Secure defaults
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
TrustedUserCAKeys /etc/ssh/ssh_user_ca

# Faster connection
UseDNS no

# Limited access
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no
UsePAM yes

# Force sftp and chroot jail
Subsystem sftp internal-sftp
ForceCommand internal-sftp

Match User {{PUBLIC_USERNAME}},{{PRIVATE_USERNAME}}
    ChrootDirectory %h
