ftp.ustclug.org {
	tls lug@ustc.edu.cn
	root /srv/ftp
	fastcgi / /run/php/php7.0-fpm.sock php
	rewrite {
		regexp ^/~.+$
		to /home/{uri}
	}
	index ''
	rewrite {
		if {path} ends_with /
		to {dir}/index.html {dir}/index.php /_h5ai/public/index.php
	}
	proxy /home/ localhost:81 {
		transparent
		without /home/
	}
}
:81 {
	bind localhost
	browse
	root /home
	rewrite {
		regexp ^/~([^/]+)(/.*)?$
		to /{1}/public_html{2}/index.html /{1}/public_html{2}/ /{1}/public_html{2}
	}
}
